@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.projects {
  padding: 62px 0 86px;
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2.85rem;
  }

  &__content {
    transform: translateY(35px);
    width: 100%;
    max-width: 442px;

    .sub-text {
      font-weight: var(--fw-300);
    }
  }
}
