@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.reviews {
  padding-bottom: 0;

  &__inner {
    border-radius: var(--radius-big);
    padding: clamp(24px, vw(56), 56px) clamp(24px, vw(103), 103px);
    background-color: var(--color-orange-600);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(24px, vw(56), 56px);

    @include media(mobile-m) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    border-radius: var(--radius-big);
    padding: clamp(20px, vw(32), 32px) clamp(20px, vw(34), 34px) 24px;
    height: 100%;
    box-shadow: var(--shadow);
    background-color: var(--color-white);
    gap: 32px;

    img {
      width: 70px;
      height: 70px;
    }

    @include media(mobile-l) {
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;

    h3 {
      margin: auto 0 0;
      font-weight: var(--fw-700);
      font-size: 14px;
      line-height: 1.9;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 15px;
      line-height: 1.4;
    }
  }

  h2 {
    margin-bottom: clamp(20px, vw(52), 52px);
    color: var(--color-white);
  }
}
