@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.blog {
  padding: clamp(32px, vw(64), 64px) 0;

  &__list {
    display: grid;
    grid-auto-rows: minmax(min-content, auto);
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    @include media(mobile-l) {
      grid-template-columns: 1fr;
    }
  }

  h1 {
    margin-bottom: 2.4rem;
    font-size: clamp(32px, 1.5rem + 1.6667vi, 48px);
  }

  h2 {
    margin-bottom: 24px;
    font-size: clamp(20px, 1rem + 1.1111vi, 32px);
  }

  @include media(mobile-m) {
    br {
      display: none;
    }
  }
}
