@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.recent {
  margin-bottom: clamp(32px, vw(64), 64px);
  padding-bottom: clamp(32px, vw(64), 64px);

  &__article {
    display: flex;
    overflow: hidden;
    border-radius: var(--radius-big);
    padding: clamp(16px, vw(24), 24px);
    box-shadow: var(--shadow);
    background-color: var(--color-white);
    gap: 48px;

    @include media(mobile-l) {
      flex-direction: column;
    }
  }

  &__content {
    position: relative;
    padding-top: clamp(20px, vw(30), 30px);
    width: 100%;
    max-width: 560px;

    h2 {
      margin-bottom: 16px;
      font-size: clamp(20px, 1rem + 1.1111vi, 32px);
      transition: color 0.3s linear;
    }

    p {
    line-height: 1.5;
    }

    @include media(mobile-l) {
      max-width: 100%;
    }
  }

  &__image {
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-big);

    img {
      width: 100%;
      height: 100%;
    }
  }

  a {
    &::before {
      content: "";
      position: absolute;
      inset: 0;
    }
  }

  time {
    display: block;
    margin-bottom: 24px;
    font-size: 14px;
    opacity: 0.5;
  }

  &:hover {
    h2 {
      color: var(--color-orange-600);
    }
  }
}
