/* stylelint-disable declaration-no-important */
@use "../utils/functions/" as *;
@use "../utils/mixins" as *;

*[class].btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 12px;
  padding: 8px 24px;
  width: 100%;
  max-width: fit-content;
  font-weight: var(--fw-700);
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-pink-100);
  background-color: var(--color-blue-800);
  transition-property: background-color, color, border-color;
  transition-duration: 0.3s;

  &:hover,
  &:focus {
    border-color: var(--color-blue-800);
    color: var(--color-blue-800);
    background-color: var(--color-pink-100);
  }

  // &.formsapp-button {
  //   font-family: var(--font-family-primary);
  //   margin: 0;
  //   background-color: var(--color-pink-100) !important;

  //   &:hover,
  //   &:focus {
  //     color: var(--color-blue-800);
  //     background-color: var(--color-pink-100);
  //   }
  // }

  &--reverse {
    border-color: var(--color-blue-800);
    color: var(--color-blue-800);
    background-color: var(--color-pink-100);

    &:hover,
    &:focus {
      border-color: var(--color-pink-100);
      color: var(--color-pink-100);
      background-color: var(--color-blue-800);
    }
  }
}
