@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.nav {
  $root: &;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  &__list {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  &__item {
    &:not(:last-of-type) {
      margin-right: 32px;
    }

    @include media(tablet) {
      margin-bottom: 30px;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 1.25;
    transition: color 0.3s linear;

    &:hover {
      color: var(--color-blue-800);
    }

    &.true {
      color: var(--color-blue-800);
    }
  }

  &__btns {
    display: flex;
    gap: 24px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 72px;

    a {
      font-size: 16px;
    }
  }

  &--footer {
    #{$root}__list {
      margin-right: 0;
      display: block;
      columns: 2;
      gap: 85px;
    }

    #{$root}__item {
      &:not(:last-of-type) {
        margin: 0 0 24px 0;
      }
    }
  }
}
