@use "../utils/functions/" as *;
@use "../utils/mixins" as *;

.policy {
  &__content {
    border-radius: var(--radius-big);
    padding: clamp(16px, vw(24), 24px);

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  h1 {
    margin-bottom: 2.4rem;
    font-size: clamp(26px, 1.225rem + 2vi, 58px);
  }

  h2 {
    margin-bottom: 16px;
    font-weight: var(--fw-600);
    font-size: clamp(18px, 1.05rem + 0.375vi, 24px);
  }

  ul {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 15px;
    font-weight: 600;
  }

  li {
    list-style-type: disc;
    letter-spacing: 0.02em;

    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }

  p {
    line-height: 1.2;
  }

  a {
    text-decoration: underline;
    color: var(--color-blue-400);
  }
}
