@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.single {
  padding: clamp(24px, vw(48), 48px) 0 clamp(44px, vw(88), 88px);

  h1 {
    margin-bottom: 2.4rem;
    font-size: clamp(32px, 1.8rem + 1vi, 48px);
  }

  h2 {
    margin-bottom: 24px;
    font-size: clamp(26px, 1.3333rem + 1.2963vi, 40px);
    color: var(--color-orange-600);
  }

  p {
    line-height: 1.5;
  }

  &__head {
    display: flex;
    gap: 64px;

    @include media(mobile-l) {
      flex-direction: column;
      gap: 24px;
    }
  }

  &__content {
    padding: 48px 0 64px;

    p {
      margin-bottom: 24px;
    }

    time {
      display: block;
      margin-bottom: 1.6rem;
      font-size: 14px;
      line-height: 1.5;
      opacity: 0.5;
    }

    img {
      overflow: hidden;
      border-radius: var(--radius-big);

      &:not(:last-child) {
        margin-bottom: clamp(20px, vw(88), 88px);
      }
    }
  }

  time {
    display: block;
    margin-bottom: 17px;
    font-size: 14px;
    line-height: 1.5;
    opacity: 0.5;
  }
}
