@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.slider {
  $root: &;

  overflow: hidden;
  padding: clamp(16px, vw(32), 32px) 0 clamp(16px, vw(48), 48px);

  &--seasons {
    #{$root}__list {
      padding-bottom: 8px;
    }
  }

  &__list {
    padding: clamp(16px, vw(48), 48px) 0;
  }

  &__item {
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-big);
  }

  &__content {
    position: absolute;
    right: clamp(5px, vw(101), 101px);
    top: 50%;
    transform: translateY(-50%);
    border-radius: var(--radius-big);
    padding: clamp(16px, vw(48), 48px) clamp(16px, vw(52), 52px);
    width: 100%;
    max-width: 493px;
    background-color: var(--color-white);

    h2 {
      margin-bottom: 24px;
      font-size: clamp(18px, 0.9167rem + 1.4815vi, 36px);
    }

    @include media(tablet) {
      padding: 15px;
      right: 0;
      left: 0;
      margin: 0 auto;
    }

    @include media(mobile-m) {
      margin: 0 auto;
      inset: 0;
      position: relative;
      max-width: 100%;
      transform: none;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h2 {
    margin-bottom: 1.6rem;
  }

  .btn {
    &.swiper-button-disabled {
      background-color: var(--color-gray-600);
      pointer-events: none;
    }

    &--prev {
      left: 8px;
      scale: -1 1;
    }

    &--next {
      right: 8px;
    }

    @include media(mobile-m) {
      display: none;
    }
  }

  .swiper-pagination-bullet {
    --swiper-pagination-bullet-horizontal-gap: 8px;

    margin: 0;
    background: var(--color-violet-50);

    &-active {
      background: var(--color-orange-600);
    }
  }

  .swiper-pagination {
    position: relative;
    bottom: 2px !important;
    z-index: 1;
  }

  &--weddings {
    padding-top: clamp(16px, vw(48), 48px);
  }
}
