@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.history {
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2.4rem;
  }

  &__descr {
    width: 100%;
    max-width: 581px;
    line-height: 1.5;

    li {
      &:not(:last-child) {
        margin-bottom: 1.8rem;
      }
    }

    h3 {
      margin-bottom: 15px;
      font-size: clamp(16px, 0.8571rem + 0.7143vi, 24px);
      line-height: 1.5;
    }
  }
}
