@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.team {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    @include media(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media(mobile-m) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-big);
    padding: clamp(16px, vw(41), 41px);
    box-shadow: var(--shadow);
    background-color: var(--color-white);

    img {
      overflow: hidden;
      margin-bottom: 32px;
      border-radius: 24px;
      width: 100%;
      min-height: 267px;
    }

    h3 {
      margin-bottom: 8px;
      font-size: 20px;
      line-height: 1.5;
      color: var(--color-orange-600);
    }

    p {
      line-height: 1.5;
    }

    &:last-child {
      @include media(tablet) {
        grid-column: 2 span;
        max-width: 100%;

        img {
          margin: 0 auto 32px;
          max-width: 300px;
        }
      }

      @include media(mobile-m) {
        grid-column: auto;

        img {
          margin: 0 auto 32px;
          max-width: 100%;
        }
      }
    }
  }

  h2 {
    font-size: clamp(18px, 0.9167rem + 1.4815vi, 36px);
  }
}
