@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.advantages {
   padding: 106px 0;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 30px;
  }

  li {
 
    font-size: clamp(16px, 0.8571rem + 0.7143vi, 24px);
    text-align: center;

    &:not(:last-of-type) {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -15px;
        width: 1px;
        height: 230px;
        background: rgba(44, 46, 53, 0.12);
      }
    }
  }
}
